{% block body %}
    <h1>Rechercher un morceau</h1>
    <form action="{{ path('app_search_index') }}" method="POST">
        <div>
            <label for="title">Titre du morceau :</label>
            <input type="text" id="title" name="title" value="{{ title }}" required>
        </div>
        <button type="submit">Rechercher</button>
    </form>

    {% if tracks is not empty %}
        <h1>Résultats pour "{{ title }}"</h1>
        <ul>
            {% for track in tracks %}
                <li>
                    {% if track.album.images is not empty %}
                        <a href="{{ path('track_details', {'id': track.id}) }}">
                            <img src="{{ track.album.images[0].url }}" alt="Album cover" width="100" height="100">
                        </a>
                    {% endif %}
                    {{ track.name }} par 
                    {% for artist in track.artists %}
                        {{ artist.name }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <li>Aucun morceau trouvé.</li>
    {% endif %}

    <a href="{{ path('app_search_index') }}">Nouvelle recherche</a>
{% endblock %}
